
<div class="media">
  <div class="media-body">

    <% if commentable.comments.any? %>
      <h4><%= pluralize commentable.comments.count, "comment" %>: </h4>

      <% commentable.comments.each do |comment| %>
        <small><%= comment.user.name %> commented <%= time_ago_in_words comment.created_at %> ago</small>
        <p><%= comment.body %></p>
        <p><%= link_to "delete comment", [commentable, comment], method: :delete if current_user %></p>
      <% end %>

    <% else %>
      <h4>There are no comments:</h4>
    <% end %>


  </div>
</div>
